<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="homeApp">

	<div th:replace="fragments/header :: header">...</div>

	<div class="container">

		<div ng-controller="HomeCtrl">
			
			<div>
				<h1 th:text="#{label.home.welcome}">Добро пожаловать в панель администратора!</h1>
				<br/>
			</div>

			<h2>Управление пользователями:</h2>
			<table class="table table-hover table_sort" align="center">
				<thead>
					<tr>
						<th>Имя</th>
						<th>Email</th>
						<th>Права тестировщика</th>
						<th>Права админа</th>
						<th>Бан</th>
					</tr>
				</thead>
				<tbody>				
					<tr th:each="user : ${users}">
						<td>
							<span th:text="${user.username}"> Имя </span>
						</td>
						<td>
							<span th:text="${user.email}"> Email </span>
						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
					</tr>
				</tbody>
			</table>

			<h2>Управление опросами:</h2>
			<table class="table table-hover table_sort" align="center">
				<thead>
				<tr>
					<th>Название</th>
					<th>Описание</th>
					<th>Удалить</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="test : ${tests}">
					<td>
						<span th:text="${test.name}"> Название </span>
					</td>
					<td>
						<span th:text="${test.description}"> Описание </span>
					</td>
					<td>

					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="fragments/angular :: angular">...</div>
	<script type="text/javascript" src="../js/homeApp.js" th:src="@{/js/homeApp.js}"></script>
		        
</body>
</html>